:root{
  --brand-50:#FFF8E1; --brand-100:#FFEFBA; --brand-200:#FFE082; --brand-300:#FFD24D;
  --brand-400:#FACA2A; --brand-500:#F5C518; --brand-600:#E0B000; --brand-700:#C89A00;
  --ink-900:#0F172A; --ink-700:#1F2937; --ink-500:#4B5563;
  --line:#E5E7EB; --bgsoft:#FAFAF9;
}
